/* ------------------------------------- */

/* @Import & Reset  ................... */

/* ------------------------------------- */

@import url(ionicons.min.css);
@import url(bootstrap.min.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html{
  height: 100%;
  overflow:auto;
}

body {
  min-height: 100%;
  line-height: 1.2em;
  overflow:auto;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------- */

/* Generic styles ................... */

/* ------------------------------------- */

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  color: #484848;
  line-height: 1.472;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

h1 {
  font-size: 2.618em;
  font-weight: 400;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.058em;
  font-weight: 300;
  margin-bottom: 20px;
}

h3 {
  /*font-size: 1.618em;*/
    font-size: 1.272em;
  font-weight: 300;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.272em;
  font-weight: 400;
  margin-bottom: 23px;
}

h5 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 23px;
}

.full-height {
  height: 100vh !important;
}

.mid-height {
  height: 400px;
}

p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 20px;
}

h3 a {
  font-weight: 500;
  line-height: 24px;
  border-bottom: 2px solid #eee;
}

h3 a:hover {
  color: #246FDE;
  border-bottom: none;
}

.row {
  padding: 0;
  margin: 0;
}

a {
  color: #484848;
}

a:hover {
  color: #777;
  text-decoration: none;
}

a:visited {
  outline: none !important;
  text-decoration: none;
}

a:focus {
  color: #fff;
  outline: none !important;
  text-decoration: none;
}

::-moz-selection {
  color: #484848;
  background: #fff !important;
}

::selection {
  color: #484848;
  background: #fff !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}


#leftSide {
  position: relative;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
}

#rightSide {
  position: absolute;
  top: 0;
  left: 0%;
  padding-left: 20%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #fff;
}

/* ------------------------------------- */

/* Home ................... */

/* ------------------------------------- */

#home {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-logo {
  position: absolute;
  padding-top: 122px;
  max-width: 80px;
  left: 35%;
  z-index: 2;
}

.o-1{
  opacity: 1 !important;
}

.social_icons {
  position: absolute;
  left: 16%;
  bottom: 5.5%;
  width: 100%;
  font-size: 1em;
  padding-left: 10%;
  z-index: 2;
  color: #484848;
}

.social_icons li {
  display: inline;
}

.social_icons li i {
  font-size: 1.4em;
  transition: all .3s;
  display: inline-block;
  padding: 15px;
}

.social_icons li i:hover {
  transition: .1s;
}

.social_icons {
  text-align: center;
  left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}

/* ------------------------------------- */

/* Project ................... */

/* ------------------------------------- */

.project, .portfolio, .swipe_portfolio {
  position: relative;
  padding: 15px 7.5px;
}

.project {
  background: #fff;
}

.project .item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  /*overflow: hidden;*/
  margin-bottom: 15px;
  cursor: pointer;
  height: auto;
}

.project .item .caption {
  position: absolute;
  width: calc(100% - 15px);
  color: #fff;
  /*-webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
  background: #121619;
  height: 100%;
  Top: 0;
  /*opacity: 0.5;*/
  opacity:0;
  -webkit-transition : all 0.3s ease-out;
  -moz-transition : all 0.3s ease-out;
  -o-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}

.project .item .caption .photo-details {
  position: absolute;
  padding: 0 15px;
  top: 10px;
  /*-webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;*/
}

.project .item .caption .photo-details h4 {
  padding: 0;
  margin: 0;
}

.project .item .caption .photo-details span {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: #121619;
}

.project .item .caption .view {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  background: #121619;
  color: #fff;
  font-size: 12px;
  float: right;
  font-weight: 600;
}

.project .item:hover .photo-details {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.project .item:hover .caption {
  /*-webkit-transition: translateY(-100%);
  -ms-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);*/
  opacity: 0.5;
}

.project .item img {
  width: 100%;
}

.project .project_info {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.project .project_info li {
  display: none;
  height: 100%;
  width: 100%;
}

.project .project_info li.is-visible {
  display: block;
}

.project .project_info li.is-visible .close {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.project .project_info li img {
  width: 100%;
}

.project .project_info li .project_content {
  padding: 10%;
}

#project1, #project2, #project3, #project4{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
-webkit-transform: translateZ(0px);
-webkit-transform: translate3d(0,0,0);
-webkit-perspective: 1000;
}

.project.show {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.project.show .project_info {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.project .close {
  position: fixed;
    top: 0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  top: 0;
  right: 0;
  z-index: 11;
  text-align: center;
  height: 60px;
  width: 60px;
  background: #121619;
  /* -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; */
  text-align: center;
  transition-delay: .1s;
}

.project .close i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
  color: #fff !important;
}

.project .item .caption .photo-details span {
  color: #fff;
}

.project .item .caption .view {
  background: #1d2328;
  color: #fff;
}

/* ------------------------------------- */

/* Intro ................... */

/* ------------------------------------- */

.intro {
  width: 100%;
  padding: 110px 45px 20px 15px;
}

/* ------------------------------------- */

/* About ................... */

/* ------------------------------------- */

.about {
  width: 93%;
  padding: 40px 185px 80px 15px;
}

.about p {
  color: #484848;
}

.service {
  text-align: center;
  margin-top: 50px !important;
}

.service .feature {
  display: inline-block;
  padding: 30px 0;
  background: #f5f5f5;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.service .feature:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  background: #eaeaea;
}

.service .feature h6 {
  font-weight: 700;
  margin: 0;
}

.service .feature i {
  font-size: 2.2em;
}

footer {
  position: relative;
  bottom: 0;
  display: table;
  width: 100%;
  padding: 0px 25px 54px 15px;
  background: #fff;
  color: #484848;
}

footer p {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.786em;
  font-weight: 500 !important;
}

footer .drag {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.4em;
  -webkit-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

footer .drag:hover {
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* ------------------------------------- */

/* Dry styles ................... */

/* ------------------------------------- */

li {
  list-style: none;
}

ul {
  padding: 0;
}

/* Background img appender Css */

.background-img-holder {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 22, 25, 0.4);
}

.title{
  margin-top: -30px;
}

.cap{
  text-align: center;
}

.piccap{
  font-size: 0.8em;
}

i {
  cursor: pointer;
}


/* ------------------------------------- */

/* 8. Media Queries .................... */

/* ------------------------------------- */

@media only screen and (min-width: 2000px) {
  body {
    font-size: 1.6em;
    line-height: 1.6;
  }
  .main-logo {
    max-width: 120px;
  }
  #homeCenter .main-logo {
    left: calc(50% - 100px);
  }
  .project .item .caption {
    opacity: 0;
  }
  .project .item .caption .photo-details {
    opacity: 0;
  }
  .project .item .caption .photo-details span {
    font-size: 0.75em;
  }
  .project .item .caption .view {
    margin: 1.875em 0.9375em;
    height: 1.875em;
    width: 3.75em;
    line-height: 1.875em;
    font-size: 0.75em;
  }
  .project .item .close {
    height: 0.625em !important;
    width: 6.25em !important;
  }
  .project .item:hover .photo-details {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .project .item:hover .caption {
    -webkit-transform: translateY(-4.375em);
    -ms-transform: translateY(-4.375em);
    -moz-transform: translateY(-4.375em);
    -o-transform: translateY(-4.375em);
    transform: translateY(-4.375em);
  }
  .portfolio .item .caption .photo-details {
    padding: 0 0.9375em;
    bottom: 0.625em;
  }
  .portfolio .item .caption .photo-details span {
    font-size: 0.75em;
    font-weight: 500;
  }
  #subscribe-form .input-email {
    font-size: 1em;
    padding: 0px 20px;
    height: 2.75em;
  }
  #subscribe-form .input-submit {
    height: 2.75em;
  }
  #contact_form {
    font-size: 0.875em;
  }
  #contact_form div {
    padding: 0 0.3125em;
  }
  #contact_form .input-name, #contact_form .input-email, #contact_form .input-message, #contact_form .submit {
    margin-bottom: 0.625em;
    padding: 0.625em;
    height: 2.8125em;
  }
  #contact_form .input-message {
    height: 6.25em;
  }
  #contact_form .submit {
    height: 2.5em;
  }
  #form-messages {
    padding: 0 0.3125em;
    margin: 0.625em 0;
  }
  #form-messages .success, #form-messages .error {
    font-size: 0.75em;
  }
  address {
    margin-top: 1.5625em !important;
  }
  address span {
    font-size: 1em;
  }
  address i {
    padding-right: 0.3125em;
  }
  #countdown .title {
    padding: 0 0.9375em;
  }
  #countdown address {
    margin-top: 0.625em !important;
  }
  #countdown address span {
    font-size: 1em;
    margin-bottom: 0.3125em;
  }
  #countdown address i {
    padding-right: 0.3125em;
  }
  .launch-date {
    height: 10em;
  }
  .launch-date h2 {
    margin-bottom: -0.3125em;
    margin-top: -0.3125em;
  }
}

@media only screen and (min-width: 2500px) {
  body {
    font-size: 2em;
    line-height: 1.6;
  }
}

@media only screen and (max-width: 1024px) {
  #leftSide {
    display: none;
  }
  #rightSide {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .intro {
    padding: 60px 45px 20px 16px;
  }
  .about {
    padding: 30px 45px 50px 16px;
  }
  .project .project_info {
    left: 0%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    padding: 60px 45px 10px 16px;
  }
  .about {
    padding: 30px 16px 50px 16px;
  }
  .reset{
    position: relative !important;
    background: none !important;
    height: 30px !important;
    width: auto !important;
  }
}

/*@media screen and (max-device-width: 740px) and (orientation: landscape) {
  }*/

@media only screen and (max-width: 480px) {
  body {
    font-size: 0.75em;
    line-height: 1.6;
  }
  .intro {
    padding: 4em 1.5em 0 1.5em;
  }
  .about {
    padding: 2em 1.5em 4em 1.5em;
  }
  h3 {
    font-size: 1.7em;
  }
  p {
    font-size: 1.3em;
  }
}
