$font-family: 'Lato', sans-serif;
$body-font-family: 'Lato', sans-serif;
$primary-color: #246FDE;
$font-color: rgb(57, 62, 75);
$font-color-light: rgb(118, 139, 155);

body {
  margin: 0;
  font-family: $font-family;
  color: $font-color;
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  font-family: $body-font-family;
  color: $font-color;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

a{
  color: $font-color;
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  color: $primary-color;
}

p a{
  border-bottom: 2px solid #eee;
}

.img{
  width: 100%;
  margin: 3rem 0 0 0;
}

ul{
  list-style: none;
}

/* NAV */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  border-bottom: 1px solid #f5f5f5;
  z-index: 10;
  /* box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08); */
}

.nav-wrap {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav-link {
  float: right;
  margin-left: 2em;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  font-size: 0.8rem;
  color: $font-color-light;
  letter-spacing: 1.3px;
}

.active{
  color: $font-color !important;
  font-weight: 600;
}

.logo{
  width: 25px;
}

/* FOOTER */

footer{
  height: 180px;
  text-align: center;
  padding: 1rem;
  color: $font-color-light;
  z-index: 2;
}

.footerbg{
  background: #ede9f3;
}

.social_icons {
  padding: 0;
  z-index: 2;
}

.social_icons li{
  display: inline-block;
  width: 25px;
  padding: 0 0.5rem 1rem 0.5rem;
}

.icon{
  fill: $font-color-light;
  transition: 200ms ease;
}

.icon:hover{
  fill: $primary-color;
  transform: translate3d(0,-.25em,0);
}

/* Big Titles */

.title{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  margin-top: 150px;
}

.title h2{
  color:$font-color-light;
}

/* Articles */

.article{
  max-width: 650px;
  margin: auto;
  padding: 2rem;
  margin-top: 150px;
}

.article h1{
  text-align: center;
  padding-bottom: 1rem;
}

.article h3{
  font-weight: 500;
}

.article img{
  margin: 2rem 0;
}

.fullwidth-img{
  width: 100%;
  max-width: 1400px;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.imgblock{
  display: flex;
  justify-content:space-between;
}

.imgblock .imgside{
  width: 49%;
}

.article .img2{
  width: 100%;
}

.links{
  margin-top: 50px;
}

.links a{
  margin-right: 20px;
  line-height: 2em;
}

.disablelink{
  cursor: default;
  opacity: 0.5;
}

.disablelink:hover {
  color: $font-color;
}

.block{
  margin: 3rem 0;
}

.protoposition{
  display: flex;
  justify-content: center;
  margin: -10rem 0;
}

.protoscale{
  transform: scale(0.6)
}

/* About Page */

.illo{
  position: relative;
  max-width: 100vw;
  height: auto;
  overflow: hidden;
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: center;
  height: 200px;
}

#illobg{
  position: absolute;
  display: flex;
  margin: 0 auto;
  width: 1800px;
  z-index: -1;
  overflow-x: hidden;
}

/* Project Grid */

.project{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.grid-sizer, .grid-item{
  background: #fff;
  width:31%;
  margin-bottom: 3%;
}

.gutter-sizer {
  width: 3%;
}

.grid-item{
  min-height: 340px;
  max-height: 500px;
  border-radius: 4px;
  box-shadow: 0 15px 15px rgba(0,0,0,.06);
  transition: 200ms ease;
}

.grid-item:hover {
  box-shadow: 0 25px 25px rgba(0,0,0,.12);
  transform: translate(0,-15px);
  transition-delay: 0s !important;
  color: $font-color;
}

.grid-item a:hover {
  color: $font-color;
}

.noallow{
  cursor: not-allowed !important;
}

.disabled{
  opacity: 0.7;
}

.disabled:hover {
  box-shadow: 0 15px 15px rgba(0,0,0,.06);
  opacity: 0.7;
  transform: translate(0,0px);
}


.project-link{
  cursor: pointer;
}

.project-left{
  border-radius: 4px 4px 0 0;
  height: 200px;
  background-size: contain;
  background-position: center;
  transition: 200ms ease;
  color: white;
}

.cover{
  background-size: cover;
}

.des{
  padding: 0 1em 1em 1em;
}

.des h4{
  font-weight: 200;
  margin-top: -0.8em;
}

/* Card Pictures */

.e1{
  background-image: url( ../../img/motion2.gif);
  background-repeat: no-repeat;
  background-color: #2D7370;
}

.e2{
  background-image: url(../../img/tools.png);
  background-repeat: no-repeat;
  background-color: #4c73cb;
}

.e3{
  background-image: url(../../img/aoad.png);
  background-repeat: no-repeat;
  background-color: #eff7fc;
}

.p0{
  background-image: url(../../img/pg.png);
  background-repeat: no-repeat;
  background-color: #f1f2f6;
}

.p1{
  background-image: url(../../img/hdb.jpg);
  background-repeat: no-repeat;
  background-color: #6ea099;
}

.p2{
  background-image: url(../../img/meter.png);
  background-repeat: no-repeat;
  background-color: #728bc3;
}

.p3{
  background-image: url(../../img/masthead-01.png);
  background-repeat: no-repeat;
  background-color: #b195bb;
}

.p4{
  background-image: url(../../img/visa.jpg);
  background-repeat: no-repeat;
  background-color: #f9bb89;
}

.p5{
  background-size: cover !important;
  background-image: url(../../img/matr3.jpg);
  background-repeat: no-repeat;
  background-color: #f1f2f6;
}

/* Responsive Video */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media Queries */

@media screen and (max-width: 980px) {
  .grid-sizer, .grid-item{
    width:48%;
  }
}

@media screen and (max-width: 796px) {
  .grid-sizer, .grid-item{
    width:48%;
  }
  .article{
    margin-top: 100px;
  }
}

@media screen and (max-width: 650px) {
  .nav-wrap {
    padding: 1rem 2rem;
  }
  .title{
    margin-top: 100px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  p {
    font-size: 1.1rem;
  }
  
  .grid-sizer, .grid-item{
    width:100%;
    margin-bottom: 16%;
  }
  .article{
    margin-top: 60px;
  }
  .protoposition{
    display: NONE;
  }
  .project{
    padding-top: 0;
  }
}

@media screen and (max-width: 390px) {
  .nav-wrap {
    padding: 1rem 2rem;
  }
  .nav-link {
    margin-left: 1.5em;
    font-size: 0.72rem !important;
  }
}

@media screen and (max-width: 342px) {
  .nav-wrap {
    padding: 1rem 2rem;
  }
  .nav-link {
    margin-left: 1em;
    font-size: 0.65rem !important;
  }
}