body{
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  color: #444;
  overflow-x: hidden;
  /* background: #FCFCFC; */
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

h5 {
  font-size: 0.9rem;
  font-weight: 400;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.6rem;
}

span{
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 0.6px;
}

a{
  color: #444;
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  color: #246FDE;
}

ul{
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  border-bottom: 1px solid #f5f5f5;
  z-index: 10;
  /* box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08); */
}

.img{
  width: 100%;
  margin: 3rem 0 0 0;
}

.fullwidth-img{
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.nav-wrap {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav-link {
  float: right;
  margin-left: 2em;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  font-size: 0.8rem;
  color: #9aa3ad;
  letter-spacing: 1.3px;
}

.active{
  color: #333 !important;
}

.logo{
  width: 25px;
}


footer{
  height: 180px;
  text-align: center;
  padding: 1rem;
  color: #9aa3ad;
  z-index: 2;
}

.social_icons {
  padding: 0;
  z-index: 2;
}

.social_icons li{
  display: inline-block;
  width: 25px;
  padding: 0 0.5rem 1rem 0.5rem;
}

.icon{
  fill: #9aa3ad;
  transition: 200ms ease;
}

.icon:hover{
  fill: #246FDE;
  transform: translate3d(0,-.25em,0);
}

.jolene{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  margin-top: 150px;
}

.jolene h2{
  color:#9aa3ad;
}

.project{
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.grid-sizer, .grid-item{
  background: #fff;
  width:31%;
  margin-bottom: 3%;
}

.gutter-sizer {
  width: 3%;
}

.grid-item{
  min-height: 340px;
  max-height: 500px;
  border-radius: 4px;
  box-shadow: 0 15px 15px rgba(0,0,0,.06);
  transition: 200ms ease;
}

.grid-item:hover {
  box-shadow: 0 25px 25px rgba(0,0,0,.12);
  transform: translate(0,-15px);
  transition-delay: 0s !important;
  color: #444;
}

.grid-item a:hover {
  color: #444;
}

.noallow{
  cursor: not-allowed !important;
}

.disabled{
  opacity: 0.7;
}

.disabled:hover {
  box-shadow: 0 15px 15px rgba(0,0,0,.06);
  opacity: 0.7;
  transform: translate(0,0px);
}


.project-link{
  cursor: pointer;
}

.project-left{
  border-radius: 4px 4px 0 0;
  height: 200px;
  background-size: contain;
  background-position: center;
  transition: 200ms ease;
  color: white;
}

.des{
  padding: 0 1em 1em 1em;
}

.des h3{
  margin-bottom: 0.2em;
}

.des p{
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

.bottom-info{
  border-top: 1px solid rgb(225, 228, 235);
  padding: 0.5em 1em;
  bottom: 0;
}

.project-left:hover .overlay{
  background: rgba(0, 0, 0, 0.7);
  transition: 200ms ease;
}

.e1{
  background-image: url(img/motion2.gif);
  background-repeat: no-repeat;
  background-color: #2D7370;
}

.e2{
  background-image: url(img/tools.png);
  background-repeat: no-repeat;
  background-color: #4c73cb;
}

.p0{
  background-image: url(img/pg.png);
  background-repeat: no-repeat;
  background-color: #f1f2f6;
}

.p1{
  background-image: url(img/hdb.jpg);
  background-repeat: no-repeat;
  background-color: #6ea099;
}

.p2{
  background-image: url(img/meter.png);
  background-repeat: no-repeat;
  background-color: #728bc3;
}

.p3{
  background-image: url(img/nus.png);
  background-repeat: no-repeat;
  background-color: #b195bb;
}

.p4{
  background-image: url(img/visa.jpg);
  background-repeat: no-repeat;
  background-color: #f9bb89;
}

.p5{
  background-size: cover !important;
  background-image: url(img/matr3.jpg);
  background-repeat: no-repeat;
  background-color: #f1f2f6;
}

.article{
  max-width: 650px;
  margin: auto;
  padding: 2rem;
  margin-top: 150px;
}

.article h1{
  text-align: center;
  padding-bottom: 1rem;
}

.article h3{
  font-weight: 500;
}

.article img{
  margin: 2rem 0;
}

.imgblock{
  display: flex;
  justify-content:space-between;
}
.imgblock .imgside{
  width: 49%;
}

.article .img2{
  width: 100%;
}

.links{
  margin-top: 50px;
}

.links a{
  margin-right: 20px;
  line-height: 2em;
}

.disablelink{
  cursor: default;
  opacity: 0.5;
}

.disablelink:hover {
  color: #444;
}


.block{
  margin: 3rem 0;
}

.protoposition{
  display: flex;
  justify-content: center;
  margin: -10rem 0;
}

.instaposition{
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.protoscale{
  transform: scale(0.6)
}

p a{
  border-bottom: 2px solid #eee;
}

.illo{
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: center;
  height: 200px;
}

#illobg{
  position: absolute;
  display: flex;
  margin: 0 auto;
  width: 1800px;
  z-index: -1;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .grid-sizer, .grid-item{
    width:48%;
  }
}


@media screen and (max-width: 796px) {
  .grid-sizer, .grid-item{
    width:48%;
  }
  .article{
    margin-top: 100px;
  }
}

@media screen and (max-width: 650px) {
  .nav-wrap {
    padding: 1rem 2rem;
  }
  .jolene{
    margin-top: 100px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  .grid-sizer, .grid-item{
    width:100%;
    margin-bottom: 16%;
  }
  .article{
    margin-top: 60px;
  }
  .protoposition{
    display: NONE;
  }
  .project{
    padding-top: 0;
  }
}

@media screen and (max-width: 390px) {
  .nav-wrap {
    padding: 1rem 2rem;
  }
  .nav-link {
    margin-left: 1.5em;
    font-size: 0.72rem !important;
  }
}

@media screen and (max-width: 342px) {
  .nav-wrap {
    padding: 1rem 2rem;
  }
  .nav-link {
    margin-left: 1em;
    font-size: 0.65rem !important;
  }
}